* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-family: "Lato", sans-serif;
}

header {
  background: #3989a1;
  min-height: 5vh;
  display: flex;
}

.container-menu {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li {
  list-style: none;
}

li a {
  margin: 0rem 3rem;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 42px;
  margin-top: 2rem;
}

.search {
  width: 300px;
  height: 40px;
  margin-bottom: 1.5rem;
  margin: 2rem auto;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.container {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
  background: #3989a1;
  width: 350px;
  height: 280px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

i {
  font-size: 28px;
}

.fa {
  color: rgb(185, 22, 22);
}

h4 {
  font-size: 22px;
}

span {
  font-style: italic;
}

button {
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background: #1f728b;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin: 2rem auto 0rem auto;
  transition: 0.25s;
}

.active {
  color: rgb(42, 248, 42);
}

.d-none {
  display: none;
}

button:hover {
  background: #0d556b;
}

footer {
  background: #3989a1;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.message {
  border: 1px solid lightgrey;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.01);
}

.message.error {
  border-color: red;
  color: red;
  background: rgba(255, 0, 0, 0.05);
}

.message.warning {
  border-color: yellow;
  color: yellow;
  background: rgba(255, 0, 0, 0.05);
}

.message.success {
  border-color: green;
  color: green;
  background: rgba(255, 0, 0, 0.05);
}
